<h1>Leave Form</h1>

 

<form [formGroup]="addLeave" (ngSubmit)="onSubmit()">

 

  <div class="mb-3">

 

    <label class="form-label">Name</label>

 

    <input type="text" class="form-control" formControlName="name"  placeholder="Enter Name" required />

 

  </div><br>

 

  <div class="mb-3" style="display: flex;">

    <label class="form-label">Leave Type</label>

        <div *ngFor="let item of leaveArr; let i = index">

          <input  type="radio" class="form-control" formControlName="leave_type" value={{leaveArr[i]}}>

          {{leaveArr[i]}}

        </div>

    

    </div>

 

    <div class="mb-3">

 

      <label class="form-label">From Date</label>

 

      <input type="date" class="form-control" formControlName="start_date"  required ngModelValidator="fromDate >= new Date('2023-01-01')" />

 

    </div>

 

    <div class="mb-3">

 

      <label class="form-label">To Date</label>

 

      <input type="date" class="form-control" formControlName="end_date"  required ngModelValidator="toDate <= new Date('2025-12-31')"/>

 

    </div>

 

    <div class="mb-3">

 

      <label class="form-label">Team Names</label>

 

      <input type="text" class="form-control" formControlName="teams"  required minlength="3" maxlength="20" />

 

    </div>

 

    <div class="mb-3">

 

      <label class="form-label">File (only if sick leave)</label>

 

      <input type="file" class="form-control" formControlName="file" [disabled]="false" maxSize="15MB" fileType="application/pdf, image/png" />

 

    </div>

 

    <div class="mb-3">

 

      <label class="form-label">Reporter</label>

 

      <select class="form-control" formControlName="reporter" >

 

        <option></option>

 

        <option value="Shivay">Shivay</option>

 

        <option value="Jeeva">Jeeva</option>

 

        <option value="Pooja">Pooja</option>

 

      </select>

 

    </div><br>

 

    <button type="submit" class="btn btn-primary" [disabled]="!addLeave.valid">Submit</button>

 

</form>